<article>
    <div>
        <a href="/post/{{id}}"><h3>{{title}}</h3></a>
        <h5>Posted by {{user.username}} on {{format_date created_at}}</h5>
    </div>
    <div>
        <p>{{contents}}</p>
    </div>
</article> 